cagrid-cds/cagrid-cds-api/src/main/resources/schema/org/cagrid/cds/CredentialDelegationService_bindings.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CredentialDelegationService" targetNamespace="http://cds.gaards.cagrid.org/CredentialDelegationService/bindings" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:porttype="http://cds.gaards.cagrid.org/CredentialDelegationService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:import namespace="http://cds.gaards.cagrid.org/CredentialDelegationService" location="CredentialDelegationService.wsdl"/>
  <wsdl:binding name="CredentialDelegationServicePortTypeSOAPBinding" type="porttype:CredentialDelegationServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiateDelegation">
      <soap:operation soapAction="http://cds.gaards.cagrid.org/CredentialDelegationService/InitiateDelegationRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CDSInternalFault">
        <soap:fault name="CDSInternalFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidPolicyFault">
        <soap:fault name="InvalidPolicyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DelegationFault">
        <soap:fault name="DelegationFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedFault">
        <soap:fault name="PermissionDeniedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="approveDelegation">
      <soap:operation soapAction="http://cds.gaards.cagrid.org/CredentialDelegationService/ApproveDelegationRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CDSInternalFault">
        <soap:fault name="CDSInternalFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DelegationFault">
        <soap:fault name="DelegationFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedFault">
        <soap:fault name="PermissionDeniedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findDelegatedCredentials">
      <soap:operation soapAction="http://cds.gaards.cagrid.org/CredentialDelegationService/FindDelegatedCredentialsRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CDSInternalFault">
        <soap:fault name="CDSInternalFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedFault">
        <soap:fault name="PermissionDeniedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDelegatedCredentialStatus">
      <soap:operation soapAction="http://cds.gaards.cagrid.org/CredentialDelegationService/UpdateDelegatedCredentialStatusRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CDSInternalFault">
        <soap:fault name="CDSInternalFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DelegationFault">
        <soap:fault name="DelegationFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedFault">
        <soap:fault name="PermissionDeniedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findCredentialsDelegatedToClient">
      <soap:operation soapAction="http://cds.gaards.cagrid.org/CredentialDelegationService/FindCredentialsDelegatedToClientRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CDSInternalFault">
        <soap:fault name="CDSInternalFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedFault">
        <soap:fault name="PermissionDeniedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchDelegatedCredentialAuditLog">
      <soap:operation soapAction="http://cds.gaards.cagrid.org/CredentialDelegationService/SearchDelegatedCredentialAuditLogRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CDSInternalFault">
        <soap:fault name="CDSInternalFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DelegationFault">
        <soap:fault name="DelegationFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedFault">
        <soap:fault name="PermissionDeniedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteDelegatedCredential">
      <soap:operation soapAction="http://cds.gaards.cagrid.org/CredentialDelegationService/DeleteDelegatedCredentialRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CDSInternalFault">
        <soap:fault name="CDSInternalFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedFault">
        <soap:fault name="PermissionDeniedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addAdmin">
      <soap:operation soapAction="http://cds.gaards.cagrid.org/CredentialDelegationService/AddAdminRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CDSInternalFault">
        <soap:fault name="CDSInternalFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedFault">
        <soap:fault name="PermissionDeniedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeAdmin">
      <soap:operation soapAction="http://cds.gaards.cagrid.org/CredentialDelegationService/RemoveAdminRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CDSInternalFault">
        <soap:fault name="CDSInternalFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedFault">
        <soap:fault name="PermissionDeniedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAdmins">
      <soap:operation soapAction="http://cds.gaards.cagrid.org/CredentialDelegationService/GetAdminsRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CDSInternalFault">
        <soap:fault name="CDSInternalFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedFault">
        <soap:fault name="PermissionDeniedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceSecurityMetadata">
      <soap:operation soapAction="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultipleResourceProperties">
      <soap:operation soapAction="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <soap:operation soapAction="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryResourceProperties">
      <soap:operation soapAction="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownQueryExpressionDialectFault">
        <soap:fault name="UnknownQueryExpressionDialectFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidQueryExpressionFault">
        <soap:fault name="InvalidQueryExpressionFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="QueryEvaluationErrorFault">
        <soap:fault name="QueryEvaluationErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
