cagrid-mms/cagrid-mms-api/src/main/resources/schema/org/cagrid/mms/MetadataModelService_bindings.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MetadataModelService" targetNamespace="http://mms.cagrid.org/MetadataModelService/bindings" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:porttype="http://mms.cagrid.org/MetadataModelService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:import namespace="http://mms.cagrid.org/MetadataModelService" location="MetadataModelService.wsdl"/>
  <wsdl:binding name="MetadataModelServicePortTypeSOAPBinding" type="porttype:MetadataModelServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="generateDomainModelForProject">
      <soap:operation soapAction="http://mms.cagrid.org/MetadataModelService/GenerateDomainModelForProjectRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidUMLProjectIndentifier">
        <soap:fault name="InvalidUMLProjectIndentifier" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateDomainModelForPackages">
      <soap:operation soapAction="http://mms.cagrid.org/MetadataModelService/GenerateDomainModelForPackagesRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidUMLProjectIndentifier">
        <soap:fault name="InvalidUMLProjectIndentifier" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateDomainModelForClasses">
      <soap:operation soapAction="http://mms.cagrid.org/MetadataModelService/GenerateDomainModelForClassesRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidUMLProjectIndentifier">
        <soap:fault name="InvalidUMLProjectIndentifier" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateDomainModelForClassesWithExcludes">
      <soap:operation soapAction="http://mms.cagrid.org/MetadataModelService/GenerateDomainModelForClassesWithExcludesRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidUMLProjectIndentifier">
        <soap:fault name="InvalidUMLProjectIndentifier" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="annotateServiceMetadata">
      <soap:operation soapAction="http://mms.cagrid.org/MetadataModelService/AnnotateServiceMetadataRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidUMLProjectIndentifier">
        <soap:fault name="InvalidUMLProjectIndentifier" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getModelSourceMetadata">
      <soap:operation soapAction="http://mms.cagrid.org/MetadataModelService/GetModelSourceMetadataRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultipleResourceProperties">
      <soap:operation soapAction="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <soap:operation soapAction="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryResourceProperties">
      <soap:operation soapAction="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownQueryExpressionDialectFault">
        <soap:fault name="UnknownQueryExpressionDialectFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidQueryExpressionFault">
        <soap:fault name="InvalidQueryExpressionFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="QueryEvaluationErrorFault">
        <soap:fault name="QueryEvaluationErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceSecurityMetadata">
      <soap:operation soapAction="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
